:root {
  --black-opacity-80: rgba(0, 0, 0, 0.8);
  --light-grey: #f9f9f9;
  --orange: #f9a826;
  --grey: grey;
  --white: white;
  --orange-gradient: linear-gradient(90deg, rgba(255, 157, 0, 0.62) 0%, rgba(252, 163, 19, 1) 50%, rgba(249, 168, 38, 0.62) 100%);
  --orange-gradient-alt: linear-gradient(90deg, rgb(252, 163, 19) 0%, rgba(255, 157, 0, 0.6) 100%);
  --orange-gradient-alt-2: linear-gradient(270deg, rgb(252, 163, 19) 0%, rgba(255, 157, 0, 0.6) 100%);
}

/* General Styling */
* {
  color: var(--black-opacity-80);
  font-family: "Roboto Flex", sans-serif;
}

body {
  background: var(--light-grey);
  margin: 0;
  padding: 0;
}

.container {
  padding: 3rem;
  max-width: 1300px;
  margin: auto;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

.muted {
  color: var(--grey);
}

.btn {
  border-radius: 20px;
  font-size: 1rem;
  padding: 13px 17px;
  border: none;
  color: var(--white);
  background: var(--orange-gradient);
}

/* Navbar */
.navbar {
  background: var(--orange-gradient-alt);
  padding: 1.3rem 1.5rem;
  position: relative;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-container i {
  font-size: 1.3rem;
  color: var(--white);
}

.navbar-toggle {
  cursor: pointer;
  color: var(--white);
  z-index: 1001;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.navbar-logo p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
}

.navbar-logo img {
  height: 2rem;
}

.navbar-menu {
  position: fixed;
  top: 0;
  left: -300px; /* Hidden off-screen initially */
  height: 100%;
  width: 250px;
  background-color: var(--orange);
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  z-index: 1000;
}

.navbar-menu.open {
  left: 0;
}

.navbar-menu ul {
  list-style: none;
  padding: 0;
}

.navbar-menu li {
  padding: 15px 0;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  cursor: pointer;
}

.navbar-menu li:last-child {
  border-bottom: none;
}

.fa-xmark {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: var(--white);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-width: 80%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}

/* Authentication */
.auth-head {
  text-align: center;
  margin: 3rem 0;
}

.auth-head p,
.auth-head h2 {
  margin: 9px;
}

.form-container {
  display: flex;
  max-width: 900px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.form-container img {
  width: 50%;
  height: 50%;
}

.form-container .form-links {
  width: 50%;
  text-align: center;
}

.form-container .error p {
  padding: 10px;
  color: rgb(245, 119, 119);
  background: rgb(248, 230, 179);
  border: 1px solid rgb(244, 214, 134);
  border-radius: 5px;
  display: none;
}

.form-container .open p {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  border-radius: 20px;
  border: none;
  padding: 15px 20px;
  font-size: 0.9rem;
  outline: none;
}

.form-container a {
  color: var(--orange);
  text-decoration: none;
}

.auth-btn {
  margin-top: 3rem;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 40px; /* Add padding to the right to make space for the button */
}

.show-hide-btn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #007bff;
}

.show-hide-btn:hover {
  color: #0056b3;
}

/* Home */
.home-container span {
  color: var(--orange);
}

.top-home {
  display: flex;
  flex-direction: column;
}

.progress-box {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background: var(--orange-gradient-alt-2);
}

.circle-container {
  width: 20%;
}

.progress-box h2,
.progress-box p {
  color: var(--white);
  margin: 0;
}

/* SubModule Section */
.submodule-section {
  margin-top: 2rem;
}

.submodule-section ul {
  padding: 0;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.submodule-box,
.exam-box {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.submodule-box:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.submodule-box,
.exam-box {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.submodule-box.visible,
.exam-box.visible {
  opacity: 1;
  transform: translateY(0);
}

.submodule-box.locked,
.exam-box.locked {
  opacity: 0.5;
  pointer-events: none;
}

.submodule-box.completed,
.exam-box.completed {
  border: 1.5px solid #a0dca0;
}

.submodule-header,
.exam-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.submodule-title h3,
.exam-box h3 {
  margin: 0;
  font-size: 16px;
}

.title-icon {
  color: green;
  margin-right: 5px;
}

.submodule-title p,
.exam-title p {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: #777;
}

.submodule-toggle i,
.exam-toggle i {
  font-size: 18px;
}

.submodule-content,
.exam-content {
  padding: 15px;
  background-color: var(--light-grey);
  border-top: 1px solid #eee;
  font-size: 14px;
  color: #555;
}

/* Material */
.material-display h3,
.material-display h2,
.material-display h1 {
  margin: 25px 0;
}

.material-display {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

.material-display h4 {
  margin-top: 20px;
  margin-bottom: 5px;
}

pre,
code {
  background-color: #f5f5f5;
  padding: 0 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  overflow-x: scroll;
}

blockquote {
  border-left: 3px solid green;
  margin: 0;
  padding: 0.5rem 1rem;
  font-style: italic;
}

.material-display img {
  display: block;
  margin: 3rem auto;
  width: 100%;
  max-width: 700px;
}

.material-display li {
  margin-bottom: 5px;
}

.material-display button {
  border: none;
  background: none;
  color: var(--orange);
  cursor: pointer;
}

.material-display button:hover {
  color: #fbd18d;
}

.markdown-element {
  opacity: 0;
  line-height: 1.5;
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.markdown-element.visible {
  opacity: 1;
  transform: translateY(0);
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: var(--white);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Handson */
.hands-on-practice input {
  width: 100%;
  margin-bottom: 10px;
}

.hands-on-practice ul {
  padding: 0;
}

.hands-on-practice .financial-list li {
  list-style: none;
  padding: 10px;
  margin-top: 2px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.hands-on-practice li.income {
  background: #c8e6c9;
  border: 1px solid #4caf50;
}

.hands-on-practice li.expense {
  background: #ffcdd2;
  border: 1px solid #f44336;
}

.hands-on-practice li button {
  color: red;
  font-weight: bolder;
}

.hands-on-practice li button:hover {
  color: #fa7268;
}

.hands-on-practice .income {
  color: green;
}

.hands-on-practice .expense {
  color: red;
}

/* Quiz */
.quiz-container,
.exam-container {
  max-width: 600px;
  margin: auto;
  margin-top: 3rem;
  background: var(--white);
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.quiz-container h3,
.exam-container h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

.quiz-container ul,
.exam-container ul {
  list-style-type: none;
  padding: 0;
}

.quiz-container .quiz-option,
.exam-container .exam-option {
  padding: 12px;
  margin-bottom: 8px;
  background-color: var(--white);
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.exam-container .exam-option:hover,
.quiz-container .quiz-option:hover {
  background-color: #f1f1f1;
}

.exam-container .exam-option.correct,
.quiz-container .quiz-option.correct {
  background-color: #c8e6c9;
  border-color: #4caf50;
  cursor: default;
}

.exam-container .exam-option.incorrect,
.quiz-container .quiz-option.incorrect {
  background-color: #ffcdd2;
  border-color: #f44336;
  cursor: default;
}

.quiz-container .quiz-option.selected,
.exam-container .exam-option.selected {
  background-color: #f1f1f1;
}

.quiz-container .quiz-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.quiz-container .quiz-feedback,
.exam-container .exam-feedback {
  margin-top: 16px;
  font-weight: bold;
  color: #333;
}

.quiz-container button:disabled,
.exam-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button.get-certif {
  background: green;
  color: white;
  padding: 7px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

button.get-certif:hover {
  background: #4caf50;
}

/* Profile */
/* .profil-head {
  text-align: center;
  margin: 1rem 0 2rem 0;
}

label {
  color: var(--grey);
}

.input-container {
  margin-bottom: 1rem;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
} */

.input-wrapper input {
  background-color: transparent;
  border-radius: 0;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(134, 134, 134);
  width: 100%;
}

.input-wrapper .icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: var(--black-opacity-80);
}

/* Quiz */
.quiz-section {
  margin-top: 20px;
}

.quiz-item {
  margin-bottom: 20px;
}

.quiz-item ul {
  list-style-type: none;
  padding-left: 0;
}

.quiz-item li {
  padding: 8px 0;
}

/* Admin */
.admin-dashboard {
  padding: 20px;
}

.admin-dashboard h2 {
  text-align: center;
  margin-bottom: 20px;
}

.admin-dashboard table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  overflow-x: scroll;
}

.admin-dashboard th,
.admin-dashboard td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.admin-dashboard th {
  background-color: var(--orange);
  color: var(--white);
  font-weight: bold;
}

.admin-dashboard tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-dashboard tr:hover {
  background-color: #f1f1f1;
}

.admin-dashboard .error {
  color: red;
  text-align: center;
}

.admin-dashboard .loading {
  text-align: center;
}

.add-btn {
  background-color: orange;
  border-radius: 5px;
  margin-bottom: 15px;
}

.add-resource-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-bottom: 20px;
  max-width: 500px;
}

.add-resource-form .form-group {
  margin-bottom: 15px;
}

.add-resource-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-resource-form input,
.add-resource-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-resource-form .btn {
  color: white;
  border: none;
  width: fit-content;
  border-radius: 4px;
  background-color: orange;
  cursor: pointer;
}

/* Additional Resources in material */
.additional-resources li {
  list-style: none;
}

.additional-resources ul {
  padding: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.additional-resources li a {
  background: var(--orange-gradient-alt);
  color: #fff;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .progress-box {
    padding: 20px;
  }
  .circle-container {
    width: 30%;
  }
}

/* Responsive Design */
@media screen and (max-width: 700px) {
  .container {
    padding: 2rem;
  }

  .auth-container {
    padding: 3rem;
  }

  .form-container {
    flex-direction: column;
    gap: 3rem;
  }

  .form-container .regis-img {
    display: none;
  }

  .form-container .form-links {
    width: 100%;
  }

  .form-container img {
    width: 80%;
  }

  .auth-btn {
    margin-top: 3rem;
  }

  .progress-box {
    justify-content: space-between;
  }

  .progress-box h2 {
    color: var(--white);
  }

  .circle-container {
    width: 40%;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1rem;
  }

  p,
  pre,
  code,
  strong,
  li,
  input,
  th,
  td,
  .btn {
    font-size: 0.9rem;
  }

  .progress-box {
    flex-direction: column;
  }

  .progress-box h2 {
    font-size: 1.3rem;
  }

  .circle-container {
    width: 70%;
  }
}
